PORT="3000"
EXPO_PUBLIC_HOST_URL="http://localhost:3000"
DATABASE_USER="postgres"
DATABASE_PASSWORD="example"
DATABASE_NAME="bender"
DATABASE_URL="postgresql://postgres:example@localhost:5432/bender"
DATABASE_BACKUP_PATH="~/backup"
COMPOSE_PROFILES="development"
