APP_PORT="3000"
EXPO_PUBLIC_HOST_URL="http://localhost:3000"
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="postgres"
POSTGRES_BACKUP_PATH="~/backup"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
SMTP_HOST=""
SMTP_PORT=""
SMTP_USERNAME=""
SMTP_PASSWORD=""
