PORT=""
EXPO_PUBLIC_HOST_URL=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""
SMTP_HOST=""
SMTP_PORT=""
SMTP_USERNAME=""
SMTP_PASSWORD=""
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME=""
DATABASE_URL=""
DATABASE_BACKUP_PATH=""
COMPOSE_PROFILES=""
